<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Index.css">
  <title>Home</title>
</head>
<body>
        
  <nav class="menu-items">
    <ul>
      <li>
        <a href="#index">Home</a>
      </li>
      <li>
        <a href="#sobre">Sobre</a>
      </li>
      <li>
        <a href="#cursos">Cursos</a>
      </li>
      <li>
        <a href="#projetos">Projetos</a>
      </li>
    </ul>
  </nav>


  <header class="header-wrapper" id="index">
    <h1>Aline Torres</h1>
    <h2>Fullstack Developer</h2>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/aline-csts/" target="_blank">Linkedin</a>
      <a href="https://github.com/alinecstorres" target="_blank">Github</a>
    </div>
  </header>

  <main class="container" id="sobre">
    <div class="text">
      <p style="font-size: large;">Sobre mim...</p>
      <br/>
      <P>Olá! Tudo bem?
				Meu nome é Aline, tenho 37 anos, sou mãe, <a href="Diploma_Economia_Aline.pdf" target="_blank" style="text-decoration: none; font-style: italic; color:rgb(193, 193, 252);">economista</a> desde 2015 pela Faculdade Esuda, curso escolhido devido à atividade exercida em meu emprego na época, que envolvia as áreas administrativa e financeira. Então passei uma parte da vida trabalhando, estudando, cuidando da casa e das filhas, tudo ao mesmo tempo! Desde 2018 tenho trabalhado fabricando bolos.</P>
				<P>Desde o início de 2022 resolvi mudar minha carreira completamente, ingressando em cursos voltados à programação, como o técnico em Desenvolvimento de Sistemas e o bacharelado em Ciências da Computação, além destes, tenho me aprimorado sempre através de bootcamps de algumas plataformas de estudo, sendo meu foco a programação back-end, com Java. Meus conhecimentos em programação são: Javascript, Kotlin, PHP, MySQL, PostgreSQL, Docker, AWS, entre outros. Espero ainda este ano começar a trabalhar na área!
      </P>
    </div>
  </main>

  <main class="container" id="cursos">
    <div class="card-container">
      <div class="card-text">
        Meu primeiro curso de informática voltado à programação foi como Técnico em Desenvolvimento de Sistemas, em uma escola técnica pernambucana</a>.
      </div>
      <div class="card">
        <div class="card-wrapper">
          <a href="HISTÓRICO ETE.pdf" target="_blank">Curso técnico</a>
          <p>Veja detalhes do curso!</p>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-wrapper">
          <a href="https://web.dio.me/users/alinecstorres?tab=skills" target="_blank">Bootcamp</a>
          <p>Acompanhe meus cursos online!</p>
        </div>
      </div>
      <div class="card-text">
        Buscando aprender com mais dedicação e em curto prazo, conheci algumas plataformas como a DIO, Udemy, Ada, onde iniciei diversos bootcamps.
      </div>
    </div>
    <div class="card-container">
      <div class="card-text">
        Iniciei minha graduação em abril/2022, no curso de ciência da computação na Universidade Estácio de Sá.
      </div>
      <div class="card">
        <div class="card-wrapper">
          <a href="HistoricoCienciaDaComputaçao-2023-1.pdf" target="_blank">Graduação</a>
          <p>Veja detalhes do curso!</p>
        </div>
      </div>
    </div>
    <br/>
    <br/>
  </main>

  <main class="container" id="projetos">

    <div class="titleProjects">
      <P>Vou atualizando aqui meus conhecimentos...</P>
    </div>

    <div class="projects-row">

      <div class="projects-column">
        <p>CSS puro:</p>
        <br/>
        <div class="chatbot">
          <div class="chatbot__loading"></div>
          <div class="chatbot__loading"></div>
          <div class="chatbot__loading"></div>
        </div>
      </div>

      <div class="projects-column">
        <div class="projectCard" data-card="js">
          <img src="javascript.jpg" class="card-front">
          <img src="prog.jpg" class="card-back">
        </div>
      </div>

      <div class="projects-column">
        
      </div>

      <div class="projects-column">

      </div>

      <div class="projects-column">
        
      </div>

    </div>

  </main>

  <footer class="footer">
    <p>Feito por Aline Torres</p>
  </footer>
  <script>
    const cards = document.querySelector ('.projectCard');
    let hasFlippedCard = false;
    let selectedCard;

    cards.addEventListener('click', flipCard)

    function flipCard() {

        this.classList.add('flip');
        selectedCard = this;
        return;

    }
  </script>
</body>
</html>
