@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;

}

body {
  background: black;
  background-size: 100%;
  font-family: 'Odibee Sans', sans-serif;
}

/* HEADER */

.header-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #E6E6FA, #6495ED, #6959CD, gray);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid black;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
  color: white;
  background-color: black;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 0% 90%;
  }
}

/* MENU */

nav {
  width: 100%;
  background-color: black;
  margin-top: 0;
  position: fixed;
  z-index: 1;
}

ul {
  list-style: none;
  margin-left: 20px;
  font-size:x-large;
}

li a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  display: block;
  padding: 0px 20px;
}

li {
  line-height: 50px;
  float: left;

}

/* CARDS */

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.card {
  height: 300px;
  width: 400px;
  margin: 3rem 0 0;
  background-image: url('prog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.7px);
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.card-text {
  width: 40%;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: white;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid black;
  opacity: 0;
  transition: 0.3s;
}

.card-wrapper a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
}

.card-wrapper a:hover {
  background-color: transparent;
  color: white;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  opacity: 1;
  width: 350px;
  height: 250px;
}

.card:hover > .card-wrapper p {
  font-size: 14px;
  opacity: 1;
  visibility: visible;
}

/* SOBRE */

.text {
  margin: 100px 40px 10px 40px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: white;
  line-height: 30pt;
  text-align: justify;
  text-indent: 1.5em;
  height: 600px;
}

/* CURSOS */

#cursos {
  background-color: #483D8B
}

/* PROJETOS */

.titleProjects {
  margin: 10px 40px 10px 40px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: white;
  line-height: 30pt;
  text-align: justify;
  text-indent: 1.5em;
}

.projectCard {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .9s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  background: white;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.projectCard:active {
  transform: scale(0.97);
  transition: transform .3s;
}

.projectCard.flip {
  transform: rotateY(180deg);
}

.projects-row {
  display: flex;
  flex-flow: row wrap;
  color: white;
  width: 100%;
  margin-left: 40px;
}

.projects-column {
  display: flex;
  margin: 5px;
  padding: 2%;
  width: 19%;
  font-family: sans-serif;
  letter-spacing: 1px;
  border-style: groove;
  border-color: #483D8B;
}

.chatbot {
  height: 6rem;
  width: 14rem;
  border-radius: 56px;
  border: 6px solid #483D8B;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(0);
  animation: chatTranslate 2s ease-in-out infinite;
  top: 200px;
  right: 300px;
}

.chatbot::before {
  content: '';
  width: 5;
  height: 5;
  position: absolute;
  bottom: -1.3rem;
  left: 2rem;
  border-left: 1px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #483D8B;
}

.chatbot__loading {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #483D8B;
  transform: scale(1);
}

.chatbot__loading:nth-child(1) {
  animation: pulse 1.5s ease-in-out infinite;
}

.chatbot__loading:nth-child(2) {
  animation: pulse 1.5s ease-in-out infinite;
  animation-delay: 0.2s;
}

.chatbot__loading:nth-child(3) {
  animation: pulse 1.5s ease-in-out infinite;
  animation-delay: 0.4s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes chatTranslate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}



/* FOOTER */

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #483D8B
}

.footer p {
  font-size: 25px;
}

/*RESPONSIVO*/

@media (max-width: 800px) {
  .social-media {
    display:flex;
    flex-direction: column;
  }

  .container {
    margin-top: 0;
    width: 100%;
  }

  .card-container {
    flex-direction: column;
  }

  .container .card-container:nth-child(1),
  .container .card-container:nth-child(3) {
    flex-direction: column-reverse;
  }

  .card {
    height: 250px;
    width: 250px;
  }

  .card-text {
    width: 90%;
    margin-top: 2rem;
    text-align: center;
  }
  .card:hover > .card-wrapper::before {
    height: 190px;
    width: 190px;
  }

  .footer p {
    font-size: 20px;
  }
}
