<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACST Cursos</title>
    <link rel="icon" href="../images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css.css">
  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img src="../images/logo.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <br/>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home.html">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">História</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="courses.html">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">Projetos</a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
    <br/>
    <div class="content">
        <div>
            <h1>Cursos</h1>
        </div>
        <br/>
        <div>
            <h4>Além do curso técnico em <a href="../docs/HISTÓRICO ETE.pdf" target="_blank"><span class="bi bi-link-45deg"></span></a>Desenvolvimento de Sistemas e do bacharelado em <a href="../docs/HistoricoCienciaDaComputaçao-2023-1.pdf" target="_blank"><span class="bi bi-link-45deg"></span></a>Ciência da Computação que está em andamento, também realizo cursos extras voltados à programação. Abaixo você encontra alguns certificados:</h4>
        </div>
        
        <br/>
        <div class="row">

            <div class="col-6">
                <div><h2>Java</h2></div>
                <hr/>
                <div id="carouselJava" class="carousel slide">

                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="3" aria-current="true" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="4" aria-current="true" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="5" aria-current="true" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="6" aria-current="true" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselJava" data-bs-slide-to="7" aria-current="true" aria-label="Slide 8"></button>
                    </div>

                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../images/javaImg/cert-1B3BB0FA-dominando-IDEs-java_page-0001.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-2DD78E92-estrutura-dados-java_page-0001.jpg" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-4E03DB09-variáveis-tiposdedados-operadores-java_page-0001.jpg" alt="Terceiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-6C8CD162-tratamento-exceções-java_page-0001.jpg" alt="Quarto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-B26ECB44-trabalhando-collections-java_page-0001.jpg" alt="Quinto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-E0C788D8-lógica-condicional-controle-fluxo-java_page-0001.jpg" alt="Sexto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-F54F04A0-Estruturas-Repetição-Arrays-Java_page-0001.jpg" alt="Sétimo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javaImg/cert-63FCAD50-testes-unitários-junit_page-0001.jpg" alt="Oitavo Slide">
                    </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselJava" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselJava" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="col-6">
                <div><h2>JavaScript</h2></div>
                <hr/>
                <div id="carouselJavascript" class="carousel slide">

                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselJavascript" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselJavascript" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselJavascript" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../images/javascriptImg/cert-29B24D9B-Introdução-JavaScript_page-0001.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javascriptImg/cert-B1F842E8-DOM-JS_page-0001.jpg" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/javascriptImg/cert-EFCECA42-javascript-assincrono_page-0001.jpg" alt="Terceiro Slide">
                    </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselJavascript" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselJavascript" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-6">

                <div><h2>MySQL</h2></div>
                <hr/>
                <div id="carouselMySQL" class="carousel slide">

                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselMySQL" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselMySQL" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
                    </div>

                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../images/mySqlImg/cert-46652330-mysql-consultas-join_page-0001.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/mySqlImg/cert-6F1B0307-MySql_page-0001.jpg" alt="Segundo Slide">
                    </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMySQL" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselMySQL" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>

            </div>

            <div class="col-6">

                <div><h2>Programação</h2></div>
                <hr/>
                <div id="carouselProgramming" class="carousel slide">

                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="3" aria-current="true" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="4" aria-current="true" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="5" aria-current="true" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="6" aria-current="true" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="7" aria-current="true" aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselProgramming" data-bs-slide-to="8" aria-current="true" aria-label="Slide 9"></button>
                    </div>

                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../images/programming/cert-121EBD07-variaveis-tipos_page-0001.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-16CC3ABD-programação-OO_page-0001.jpg" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images//programming/cert-32B02E74-introdução-programação-pensamento-computacional_page-0001.jpg" alt="Terceiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-386F6EE0-sintaxe-operadores_page-0001.jpg" alt="Quarto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-62AAA6A4-Funções_page-0001.jpg" alt="Quinto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-BC7B4C06-introdução-git-github_page-0001.jpg" alt="Sexto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-BFF6F657-OO_page-0001.jpg" alt="Sétimo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-D0B5796A-criando-frontend-reactjs_page-0001.jpg" alt="Oitavo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/programming/cert-D2025946-instalação-configuração-VSCode_page-0001.jpg" alt="Nono Slide">
                    </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProgramming" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProgramming" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>

            </div>

        </div>
        
        <div class="row">

            <div class="col-6">

                <div><h2>ReactJS</h2></div>
                <hr/>
                <div id="carouselReactJS" class="carousel slide">

                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselReactJS" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselReactJS" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselReactJS" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselReactJS" data-bs-slide-to="3" aria-current="true" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselReactJS" data-bs-slide-to="4" aria-current="true" aria-label="Slide 5"></button>
                    </div>

                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../images/reactJsImg/cert-059E0A19-trabalhando-states-effects_page-0001.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/reactJsImg/cert-312E8C88-práticas-avançadas-reactjs_page-0001.jpg" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/reactJsImg/cert-32EC188A-introdução-react-hooks_page-0001.jpg" alt="Terceiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/reactJsImg/cert-8FAD1676-introdução-reactjs_page-0001.jpg" alt="Quarto Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../images/reactJsImg/cert-9AAAA021-desenvolvimento-aplicações-reactjs_page-0001.jpg" alt="Quinto Slide">
                    </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselReactJS" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselReactJS" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>

            </div>

        </div>
        
        <br/>
        <br/>
    
    <footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2023 ACST. Todos os direitos reservados.</span>
		</div>
	</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  </body>
</html>